[submodule "theme/new-theme"]
	path = theme/new-theme
	url = https://github.com/zwbetz-gh/minimal-bootstrap-hugo-theme.git
[submodule "themes/minimal-bootstrap-hugo-theme"]
	path = themes/minimal-bootstrap-hugo-theme
	url = https://github.com/zwbetz-gh/minimal-bootstrap-hugo-theme.git
[submodule "themes/beautifulhugo"]
	path = themes/beautifulhugo
	url = https://github.com/halogenica/beautifulhugo.git
[submodule "themes/beautifulhug"]
	path = themes/beautifulhug
	url = https://github.com/halogenica/beautifulhugo.git
[submodule "beautifulhug"]
	path = beautifulhug
	url = https://github.com/halogenica/beautifulhugo.git
